.Rproj.user
.Rhistory
.RData
.Ruserdata
.Renviron
*.Rproj

# Datos temporales o descargados
/data/raw/
/data/processed/*.csv
/data/processed/*.json

# Cache Quarto
/.quarto/
/_freeze/
*_files/

# Sistemas
.DS_Store
Thumbs.db

**/*.quarto_ipynb
